.main{
    position: relative;
    width: 100%;
    height: auto;
}

.head{
    display: flex;
    justify-content: space-between;
    
    height: 5%;
    /*background-color: rgb(226, 225, 225);*/
    width: 100%;
    height: 60px;
    z-index: 10;
}
.show_more{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-self: center;
    
    overflow: hidden;
    width:40px;
    margin-left:5px;
    cursor: pointer;
    height: 50%;
    position: relative;
    cursor: pointer;   
}
#show_more_btn:hover{
    background-color: rgba(190,190,190,1);
}
.show_more svg{
    width:35px;
    height: auto;
    object-fit: cover;
}
.show_more_dropdown{
    position: fixed;
    
    left: 7.5px;
    top:10px;
    width:190px;
    height: 95%;
    background-color: rgba(250,240,240,0.1);
    display: flex;
    cursor:auto;
    z-index: 10;
}
.show_more_dropdown_mainpage
{
    display: flex;
    flex-direction: column;
    width: 100%;
    
    padding-top:32%;
    
}
.show_more_dropdown_mainpage_ico{
    display: flex;
    width: 190px;
    align-items: center;
    align-self: center;
    justify-content: center;
    position: fixed;
    
}
.dropdown_head_ico{
    width:15% ;
    margin-right: 10px;
    cursor: pointer;
}
.dropdown_head_ico svg{
    width: 28px;
    height: auto;
    object-fit: cover;
}
.dropdown_head_img{
    width: 160px;
}
.dropdown_head_img img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
.show_more_dropdown_mainpage_content{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: rgb(235, 234, 234);
    padding: 5px;
    border-radius: 5px;
}
.show_more_dropdown_mainpage_content_ico{
    width:35px;
    height: 35px;
    object-fit: cover;
}
.mt{
    margin-top:5px;
}

.head_icon{
    width:10%;
    
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    flex-direction: row;
    height: 100%;
}
.head_icon img{
    width:100%;
    height: auto;
    object-fit: cover;
}
.head_input{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    
    width:50%;
    position: relative;
    background-color: rgba(219, 217, 217, 0.5);
    border-radius: 20px;
    height: 65%;
}
.head_input input{
    width: 85%;
    height: 100%;
    border: none;
    outline: none;
    padding-left: 10px;
    position: absolute;
    left: 0px;
    background:transparent;
}
.input_searchico{
    width: 8%;
    height: 70%;
    overflow: hidden;
    position: absolute;
    right: 0px;
    cursor: pointer;
    
}
.input_searchico svg{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.more_work{
    display: flex;
    justify-content: center;
    align-items: center;
    
    border-radius: 15px;
    overflow: hidden;
    width: 10%;
    height: 60%;
    align-self: center;
    cursor: pointer;
    background-color: rgba(243,240,240,1);
}
.more_work_text{
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 80%;
}
.more_work_ico{
    width: 20%;
    height: 100%;
}
.more_work_ico svg{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.more_work_dropdown{
    display: flex;
    z-index: 10;
    flex-direction: column;
    position: absolute;
    top:65px;
    width: 20%;
    padding:5px;
    border-radius: 15px;
    background-color: rgb(238, 238, 238);
    transition: max-height 0.5s ease-in-out;
    scroll-behavior: smooth;
    overflow: hidden;
}
.more_work_dropdown_sub{
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    
    margin-top:5px;
    margin-bottom: 5px;
    cursor: pointer;
    position: relative;
}
.more_work_dropdown_sub:hover{
    cursor: pointer;
    background-color: rgba(109, 106, 106, 0.5);
}
.more_work_dropdown_ico{
    width: 20%;
    height: 100%;
    
    position: absolute;
    left: 0px;
    top:0px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
}
.more_work_dropdown_ico svg{
    width: 100%;
    height: 90%;
    object-fit: cover;
}
.show_more_dropdown_mainpage_content_more_ico{
    height: 25px;
    width: 25px;
    position: absolute;
    left: 10px;
}
.show_more_dropdown_mainpage_content_more_ico svg{
    width: 80%;
    height: 80%;
    object-fit: cover;
}
.show_more_dropdown_mainpage_content_more{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    height: 30px;
    cursor: pointer;
}
.show_more_dropdown_mainpage_content_more:hover{
    background-color: rgba(109, 106, 106, 0);
}
.show_more_dropdown_content_more_content{
    position: absolute;
    left: -5px;
    top:25px;
    display: flex;
    padding:5px;
    border-radius: 15px;
    flex-direction: column;
    width: 100%;
    background-color: rgb(236, 236, 236);
}
.hv:hover{
    background-color: rgba(209, 207, 207, 0.5);
    cursor: pointer;
}
.head_usermessage{
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 4%;
    position: relative;
    height: 35px;
    align-items: center;
    align-self: center;
}
.message_ico{
    display: flex;
    width: 80%;
    height: 80%;
    align-items: center;
    justify-content: center;
}
.message_ico svg{
    width: 100%;
    height: auto;
    object-fit: cover;
}
.head_notice{
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 4%;
    position: relative;
    height: 35px;
    align-items: center;
    align-self: center;
}
.head_notice_ico{
    display: flex;
    width: 80%;
    height: 80%;
    align-items: center;
    justify-content: center;
}
.head_notice_ico svg{
    width: 90%;
    height: auto;
    object-fit: cover;
}
.avatar{
    width: 8%;
    height: 50px;
    
    display: flex;
    position: relative;
    align-items: center;
    align-self: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
}
.head_user_avatar{
    width:50px;
    height: 50px;
    align-self: center;
    
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    border-radius: 60%;
    overflow: hidden;
}
.head_user_avatar_img{
    width:100%;
    height: 100%;
    align-items: center;
    justify-content: center;

}
.head_user_avatar_img img{
    width: 100%;
    height: auto;
    object-fit: auto;
}
.head_user_avatar_dropdown_ico{
    display: flex;
    width: 20%;
    align-items: center;
    justify-content: center;
    
    margin-left: 0px;
}
.head_user_avatar_dropdown_ico_svg{
    width: 100%;
    height: 20px;
}
.head_user_avatar_dropdown_ico_svg svg{
    width: 100%;
    height: auto;
    object-fit: cover;
}
.avatar_subpage{
    position: absolute;
    top:60px;
    
    width:260px;
    height: 525px;
    margin-right: 130px;
    display:  flex;
    flex-direction: column;
    cursor:auto;
    background-color: rgb(240, 240, 240);
    border-radius: 15px;
    padding:5px;
    z-index: 10;
}
.avatar_subpage_fllowing_info{
    display: flex;
}
.avatar_subpage_fllowing{
    display: flex;
    flex-direction: column;
}
.avatar_subpage_fans{
    display: flex;
    flex-direction: column;
}
.avatar_subpage_avatar{
    display: flex;
    width: 70px;
    height: 70px;
    overflow: hidden;
    border-radius: 50%;
    align-items: center;
    align-self: self-start;
    justify-content: center;
}
.avatar_subpage_avatar img{
    width: 100%;
    height: auto;
    object-fit: 100%;
}