.login{
    display: flex;
    flex-direction: column;
    padding: 5px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 20px;
    align-self: center;
    align-items: center;
    height: 50%;
    width:300px;
    justify-content: center;
    position:absolute;
    top:50%;
    left: 50%;
    transform:translate(-50%,-50%);
    overflow: hidden;
}
body{
    background-image: url(../image/105716156_p0.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
}
.login_img{
    width: 100%;
    height: auto;
    position: absolute;
    top:0px;
    overflow: hidden;
}
.login_img img{
    width: 100%;
    height: auto;
  
}
.login input{
    width: 100%;
    height: 30px;
    border-radius: 5px;
    flex-grow: 1;
}
#login{
    width: 90%;
    height: 30px;
    border-radius: 15px;
    background-color: rgba(173, 221, 253, 1);
    margin-top:20px;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-align: center;
}
#password{
    position: relative;
}
.reset_password{
    align-self: flex-start;
    margin-left: 10%;
    width:25vw;
    margin-top:5px;
    display: flex;
}
.reset_password a{
    text-decoration: none;
}
.register{
    margin-top:15px;
    background-color: rgb(190, 189, 189,1);
    width: 90%;
    height: 30px;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-align: center;
    border-radius: 15px;
}
.back_rootpage{
    position: absolute;
    left: 10px;
    top: 10px;
    cursor: pointer;
    background-color: rgba(173, 221, 253, 1);
    width:100px;
    height: 25px;
    border-radius: 15px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}