.main_content{
    width:100%;
    height: auto;
    position: relative;
    display: flex;
    border: 1px solid red;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
}
.contetn_background{
    margin-top:5px;
    width: 102%;
    height: 60vh;
    display: flex;
    position: relative;
    overflow: hidden;
    justify-self: center;
    align-items: center;
}
.contetn_background img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
.edit{
    width:50px;
    height: 50px;
    position: absolute;
    bottom:10px;
    right: 65px;
    z-index:10;
    border-radius: 50%;
    background-color: rgba(230, 222, 222, 0.8);
}
.edit_svg{
    display: flex;
    width:50%;
    height: 50%;
    justify-content: center;
    align-items: center;
    align-self: center;
    justify-self: center;
    margin-left:25%;
    margin-top:25%;
}
.edit_svg svg{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.delete{
    width: 50px;
    height: 50px;
    position: absolute;
    bottom:10px;
    right: 10px;
    z-index:10;
    border-radius: 50%;
    background-color: rgba(231, 225, 225, 0.8);
}
.delete_svg{
    display: flex;
    width: 50%;
    height: 50%;
    justify-content: center;
    align-items: center;
    align-self: center;
    justify-self: center;
    margin-left:25%;
    margin-top:25%;
}
.delete_svg svg{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.edit_box_background_color{
    background-color: rgba(231, 225, 225, 0.8);
    width: 100vw;
    height: 100vh;
    display:  flex;
    position: fixed;
    top:0px;
    border: 1px solid red;
    align-items: center;
    align-self: center;
    justify-content: center;
    z-index: 11;
}
.edit_box{
    z-index: 11;
    width:300px;
    height: 600px;
    border: 1px solid red;
    background-color: rgba(245, 244, 244, 0.8);
    border-radius: 20px;
    padding: 15px;
    display: flex;
    flex-direction: column;
}
.edit_box_background_upload{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 100%;
    height: 100%;
    background-color: rgba(212, 212, 212,0);
    position: absolute;
    top:0px;
    opacity: 0;
    z-index: 12;
}
.edit_box_background_upload:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 100%;
    height: 100%;
    background-color: rgba(212, 212, 212,0.5);
    opacity: 0.8;
    cursor: pointer;
}
.edit_box_background_upload_svg{
    width: 50px;
    height: 50px;
}
.edit_box_background_upload_svg svg{
    width: 100%;
    height: 100%;
    opacity: 1;
    object-fit: cover;
}
.edit_box_title{
    display: flex;
    align-items: center;
    align-self: center;
    position: relative;
    width: 100%;
    justify-content: center;
}
.edit_box_close:hover{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(163, 163, 163);
    transition: 0.5s;
}
.edit_box_close{
    position: absolute;
    right: 10px;
}
.edit_box_close_svg{
    width: 25px;
    height: 25px;
    margin-top: 3px;
    margin-left: 3px;
    overflow: hidden;
}
.edit_box_close_svg svg{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.edit_box_background{
    margin-top:10px;
    border:1px solid red;
    width: 110%;
    margin-left:-15px;
    height: 150px;
    position: relative;
}
.edit_box_background img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.edit_box_imginfo{
    display: flex;
    justify-self: center;
    align-items: center;
    align-self: center;
    border: 1px solid red;
    width:  100%;
    height: 150px;
    justify-content: space-between;
}
.edit_box_imginfo_left{
    display: flex;
    flex-direction: column;
    border:1px solid red;
    margin-left: 10px;
}
.edit_box_imginfo_right{
    display: flex;
    flex-direction:column;
    border:1px solid red;
    margin-right: 10px;
}
.edit_box_warning{
    background-color: rgba(230, 222, 222, 0.8);
    width: 95%;
    height: 50px;
    margin-top:10px;
    position: relative;
    display: flex;
    padding: 10px;
    border-radius: 15px;
}
.edit_box_warning_ico{
    width: 25px;
    height: 25px;
    margin-right: 5px;
}
.edit_box_warning_ico svg{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.edit_box_tips{
    margin-top:10px;
}
.edit_box_button{
    margin-top: 10px;
    width: 100%;
    height: auto;
    border: 1px solid red;
    justify-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-top:40px;
}
.edit_box_button_agree{
    width: 100%;
    height: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    background-color: rgba(0,150,250,0.8);
    color: rgba(255,255,255,1);
    font-size: 18px;
    margin-top:10px;
}
.edit_box_button_agree:hover{
    background-color: rgba(0,150,250,1);
    cursor: pointer;
}
.edit_box_button_cancel{
    width: 100%;
    height: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    background-color: rgba(212, 212, 212,0.8);
    color: rgb(0, 0, 0);
    font-size: 18px;
    margin-top:10px;
}
.edit_box_button_cancel:hover{
    background-color: rgba(212, 212, 212,1);
    cursor: pointer;
}
.user_info_box{
    display: flex;
    width: 100%;
    height: 20vh;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-top: 10px;
    border:1px solid red;
    position: relative;
}
.user_info_box_avatar{
    width:100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    border: 1px solid red;
    position: absolute;
    top:-30px;
    left: 20px;
}
.user_info_box_avatar_img{
    width: 100%;
    height: 100%;
}
.user_info_box_avatar_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.user_info_box_info{
    display: flex;
    flex-direction: column;
    border:1px solid red;
    margin-left: 10px;
    width:60%;
    height: 100%;
    justify-content: center;
    align-self: self-start;
    margin-left:-12%;
}
.user_info_box_info_location{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border:1px solid red;
    width: 100%;
    height: 30px;
}
.user_info_box_info_location_ico{
    width: 20px;
    height: 20px;
    margin-right: 5px;
}
.user_info_box_info_location_ico svg{
    width: 100%;
    height: auto;
    object-fit: cover;
}
.user_info_box_edit_box{
    width:20%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-self: center;
    border:1px solid red;
    position: absolute;
    right: 20px;
}
.user_info_box_edit{
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid red;
    width:80%;
    height: 30px;
    margin-top:10px;
    border-radius: 20px;
    background-color: rgba(212, 212, 212,0.5);
}
.user_info_box_edit:hover{
    background-color: rgba(212, 212, 212,1);
    cursor: pointer;
}
.user_info_box_share{
    display: flex;
    justify-content: center;
    align-items: center;
    width:30px;
    height: 30px;
    border:1px solid red;
    margin-top:10px;
    border-radius: 50%;
}
.user_info_box_share_btn{
    width: 80%;
    height: 80%;
}
.user_info_box_share_btn svg{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.edit_userinfo_box{
    display: flex;
    flex-direction: column;
    width: 35vw;
    border:1px solid red;
    height: auto;
    z-index:10;
    padding: 5px;
    border-radius: 20px;
    background-color: rgba(212, 212, 212,1);
    position: absolute;
}
.edit_userinfo_box_title{
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid red;
    width: 100%;
    height: 30px;
    top:0px;    
}
.edit_userinfo_box_title_close{
    width: 25px;
    height: 25px;
    margin-right: 5px;
    position: absolute;
    right: 15px;
    border: 1px solid red;
    overflow: hidden;
}
.edit_userinfo_box_title_close svg{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.edit_userinfo_box_title_close:hover{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: rgb(163, 163, 163);
    transition: 0.5s;
    cursor: pointer;
}
.edit_userinfo_box_background{
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid red;
    width: 100%;
    height: 200px;
    margin-top: 5px;
    top:2%;
    overflow: hidden;
    position: relative;
}
.edit_userinfo_box_background_img{
    display: flex;
    width: 100%;
    height: 100%;;
}
.edit_userinfo_box_background_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.edit_userinfo_box_background_img_editbtn{
    display: flex;
    background-color: rgba(212, 212, 212,0.8);
    border-radius: 50%;
    position: absolute;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    right: 40px;
    bottom: 10px;
    margin-right: 5px;
}
.edit_userinfo_box_background_img_editbtn_svg{
    display: flex;
    width: 90%;
    height: 90%;
    justify-content: center;
    align-items: center;
    align-self: center;
}
.edit_userinfo_box_background_img_editbtn svg{
    width: 80%;
    height: 80%;
    object-fit: cover;
}
.edit_userinfo_box_background_img_deletebtn{
    display: flex;
    background-color: rgba(212, 212, 212,0.8);
    border-radius: 50%;
    position: absolute;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    right: 10px;
    bottom: 10px;
    margin-left: 5px;
}
.edit_userinfo_box_background_img_deletebtn_svg{
    display: flex;
    width: 90%;
    height: 90%;
    justify-content: center;
    align-items: center;
    align-self: center;
}
.edit_userinfo_box_background_img_deletebtn svg{
    width: 80%;
    height: 80%;
    object-fit: cover;
}
.edit_userinfo_box_avatar{
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    width: 20%;
    height: auto;
    position: relative;
    margin-top:10px;
}
.edit_userinfo_box_avatar_img{
    display: flex;
    width: 100%;
    height: 100%;
    border: 1px solid red;
    border-radius: 50%;
    overflow: hidden;
}
.edit_userinfo_box_avatar_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.edit_userinfo_box_avatar_img_editbtn{
    display: flex;
    background-color: rgba(212, 212, 212,0.8);
    border-radius: 50%;
    position: absolute;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    right: 5px;
    bottom: 5px;
    margin-right: 5px;
    overflow: hidden;
}
.edit_userinfo_box_avatar_img_editbtn_svg{
    display: flex;
    width: 90%;
    height: 90%;
    justify-content: center;
    align-items: center;
    align-self: center;
}
.edit_userinfo_box_avatar_img_editbtn svg{
    width: 80%;
    height: 80%;
    object-fit: cover;
}
.edit_userinfo_box_name{
    display: flex;
    flex-direction:column;
    border:1px solid red;
    width: 100%;
    height: auto;
    margin-top: 10px;
}
.edit_userinfo_box_name_text{
    display: flex;
    position: relative;
    width: 60%;
    height: 30px;
    background-color: rgba(245, 244, 244, 1);
}
.edit_userinfo_box_name_text input{
    border:none;
    background: transparent;
}
.edit_userinfo_box_name_text_maxlen{
    position: absolute;
    right: 5px;
    justify-content: center;
    align-items: center;
    align-self: center;
}
.edit_userinfo_box_self_introduction{
    display: flex;
    flex-direction:column;
    border:1px solid red;
    width: 100%;
    height: auto;
    margin-top: 10px;
}
.edit_userinfo_box_self_introduction_text{
    background-color: rgba(245, 244, 244, 1);
    width: 100%;
    min-height: 60px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}
.edit_userinfo_box_self_introduction_text textarea{
    border: none;
    background: transparent;
    resize: none;
    width: 100%;
    min-height: 60px;
    height: auto;
}
.edit_userinfo_box_person_website{
    display: flex;
    flex-direction:column;
    border:1px solid red;
    width: 100%;
    height: auto;
    margin-top: 10px;
}
.edit_userinfo_box_person_website_text{
    display: flex;
    margin-top:5px;
    width: 60%;
    height: 30px;
    background-color: rgba(255,255,255,1);
}
.edit_userinfo_box_person_website_text input{
    border:none;
    background:transparent;
    width: 100%;
    height: auto;
}
.edit_userinfo_box_contact_information{
    display: flex;
    flex-direction:column;
    border:1px solid red;
    width: 100%;
    height: auto;
    margin-top: 10px;
    position: relative;
}
.edit_userinfo_box_contact_information_text{
    display: flex;
    margin-top: 5px;
    border: 1px solid red;
}
.edit_userinfo_box_contact_information_text_fun{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
    width: 80%;
    height: 30px;
    background-color: rgba(255,255,255,1);
    position: relative;
}
.edit_userinfo_box_contact_information_text_fun input{
    border:none;
    background: transparent;
    width: 100%;
    height: auto;
}
.edit_userinfo_box_contact_information_text_choose{
    display: flex;
    width: 18%;
    height: 30px;
    background-color: rgba(255,255,255,1);
    position: absolute;
    right: 0px;
    justify-content: center;
    align-items: center;
}
.edit_userinfo_box_contact_information_text_choose select{
    border:none;
    background: transparent;
    width: 100%;
    height: 100%;
}
.edit_userinfo_box_contact_information_text_choose_box{
    display: flex;
    width: 100%;
    height: auto;
    margin-top:5px;
    border: 1px solid red;
    position: relative;
}
.edit_userinfo_box_contact_information_text_choose_ico{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgb(163, 163, 163);
    transition: 0.5s;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}
.edit_userinfo_box_contact_information_text_choose_ico_svg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}
/*下拉列表框样式，但是需要js实现，暂时搁置*/
.edit_userinfo_box_add_contact_information{
    display: flex;
    position: relative;
    margin-top: 10px;
}
.edit_userinfo_box_add_contact_information_btn{
    display: flex;
    width: 30%;
    height: 30px;
    background-color: rgba(199, 197, 197,1);
    justify-content: center;
    align-items: center;
    border: 1px solid red;
    margin-top: 5px;
    border-radius: 20px;
}
.edit_userinfo_box_sex{
    display: flex;
    flex-direction: column;
}
.edit_userinfo_box_sex_choose{
    display: flex;
}
.edit_userinfo_box_sex_all_look{
    display: flex;
    margin-left: 10px;
}
.edit_userinfo_box_address{
    display: flex;
    flex-direction: column;
    border:1px solid red;
    width: 100%;
    height: auto;
    margin-top: 10px;
}
.edit_userinfo_box_address_choose_box{
    display: flex;
    width: 100%;
    height: auto;
    margin-top:5px;
    border: 1px solid red;
    position: relative;
    justify-content: space-between;
}
.edit_userinfo_box_birthday{
    display: flex;
    flex-direction: column;
    border:1px solid red;
    width: 100%;
    height: auto;
    margin-top: 10px;
}
.edit_userinfo_box_birthday_choose_box{
    display: flex;
    width: 100%;
    height: auto;
    margin-top:5px;
    border: 1px solid red;
    position: relative;
    justify-content: space-between;
}
.edit_userinfo_box_sava{
    display: flex;
    flex-direction:column;
    border:1px solid red;
    width: 60%;
    height: auto;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    align-self: center;
}
.edit_userinfo_box_sava_btn{
    display: flex;
    width: 100%;
    height: 30px;
    background-color: rgba(0, 150, 250,1);
    justify-content: center;
    align-items: center;
    border: 1px solid red;
    margin-top: 5px;
    border-radius: 20px;
}
.edit_userinfo_box_sava_btn:hover{
    background-color: rgba(0, 150, 250,0.5);
    cursor: pointer;
}
.edit_userinfo_box_sava_btn_cancel{
    display: flex;
    width: 100%;
    height: 30px;
    background-color:rgba(199, 197, 197,1);
    justify-content: center;
    align-items: center;
    border: 1px solid red;
    margin-top: 5px;
    border-radius: 20px;
}
.edit_userinfo_box_sava_btn_cancel:hover{
    background-color: rgba(199, 197, 197,0.5);
    cursor:pointer;
}
/*编辑个人资料*/
.avatar_edit_box_background {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    align-self: center;
    z-index: 12;
    width: 100vw;
    height: 100vh;
    top:0px;
}

.avatar_edit_box {
    width: 25vw;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid red;
    padding: 5px;
    border-radius: 15px;
}

.avatar_edit_box_title_box {
    display: flex;
    margin-top: 5px;
    border: 1px solid red;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 100%;
    height: 25px;
    position: relative;
}

.avatar_edit_box_title_close {
    display: flex;
    width: 25px;
    height: 25px;
    overflow: hidden;
    position: absolute;
    right: 0px;
}

.avatar_edit_box_title_close:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    align-items: center;
    align-self: center;
    justify-content: center;
    transition: 0.2s;
}

.avatar_edit_box_title_close_ico {
    width: 25px;
    height: 25px;
    display: flex;
}

.avatar_edit_box_title_close_ico svg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.avatar_edit_box_backgroundimg {
    width: 100%;
    height: auto;
    position: relative;
    border: 1px solid red;
    justify-content: center;
    display: flex;
    align-items: center;
    align-self: center;
}

.avatar_edit_box_background_img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
}

.avatar_edit_box_background_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.avatar_edit_box_background_img_hv {
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    top: 0px;
    left: 0px;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
}

.avatar_edit_box_background_img_hv:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 0.15s;
    opacity: 1;
}

.avatar_edit_box_background_img_hv_ico {
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
}

.avatar_edit_box_background_img_hv_ico svg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    fill: rgba(255, 255, 255, 1);
}

.avatar_edit_box_background_img_hv_text {
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    color: rgba(255, 255, 255, 1);
}

.avatar_edit_box_fileinfo {
    display: flex;
    margin-top: 10px;
    position: relative;
    justify-content: space-between;
    width: 90%;
    margin-left: 10px;
    margin-right: 10px;
}

.avatar_edit_box_fileinfo_left .avatar_edit_box_fileinfo_right {
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
    width: 90%;
}

.avatar_edit_box_openvip {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 90%;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    background-color: rgb(223, 223, 223);
    padding: 5px;
    border-radius: 15px;
    text-align: center;
}

.avatar_edit_box_openvip_btn {
    width: 50%;
    min-width:200px;
    height: auto;
    padding: 5px;
    margin-top: 5px;
    border-radius: 15px;
    background-color: #fd9e16;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.avatar_edit_box_openvip_btn:hover {
    cursor: pointer;
}

.avatar_edit_box_tips {
    display: flex;
    margin-top: 10px;
    width: 90%;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    background-color: rgb(223, 223, 223);
    border-radius: 15px;
    padding: 5px;
}

.avatar_edit_box_warning {
    display: flex;
    margin-top: 10px;
    width: 90%;
    margin-left: 10px;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    padding: 5px;
}
.avatar_edit_box_btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 90%;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    padding:5px;
    text-align: center;
}
.avatar_edit_box_btn_done{
    width: 100%;
    margin-top:5px;
    background-color: rgba(0,150,250,1);
    border-radius: 15px;
    padding: 5px;
}
.avatar_edit_box_btn_done:hover{
    cursor: pointer;
}
.avatar_edit_box_btn_cancel{
    width: 100%;
    margin-top:5px;
    background-color: rgba(200,200,200,1);
    border-radius: 15px;
    padding: 5px;
}
.avatar_edit_box_btn_cancel:hover{
    cursor: pointer;
}
.avatar_edit_box_tips_ico{
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}
.avatar_edit_box_tips_ico svg{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.switch_box{
    display: flex;
    margin-top: 15px;
    border:1px solid red;
    width: 100%;
    height: 30px;

}
.switch_box_indexpage{
    display: flex;
    width: 80px;
    height:auto;
    padding: 5px;
    justify-content: center;
    align-items: center;
    align-self: center;
    opacity: 0.8;
}
.switch_box_indexpage:hover{
    cursor: pointer;
    transition: 0.15s;
    opacity: 1;
}
.switch_box_collection{
    display: flex;
    width: 80px;
    height:auto;
    padding: 5px;
    justify-content: center;
    align-items: center;
    align-self: center;
    opacity: 0.8;
}
.switch_box_collection:hover{
    cursor: pointer;
    transition: 0.15s;
    opacity: 1;
}
.switch_box_content_1{
    display: flex;
    flex-direction: column;
    border:1px solid red;
    width: 100%;
    height: auto;
    min-height: 600px;
    padding: 5px;
    position: relative;
    z-index: 8;
}
.switch_box_content_1_title{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    border:1px solid red;
}
.switch_box_content_1_title_left {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    padding:5px;
}
.switch_box_content_1_title_right{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    padding:5px;
}
.switch_box_content_1_content{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    border: 1px solid red;
    flex-grow: 1;
    position: relative;
}
.switch_box_content_1_content_background{
    display: flex;
    flex-direction: column;
    border:1px solid red;
    justify-content: center;
    align-items: center;
    align-self: center;
    height: 100%;
}
.switch_box_content_1_content_background_ico{
    width: 200px;
    height: 200px;
    overflow: hidden;
}
.switch_box_content_1_content_background_ico svg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
}
.switch_box_content_1_content_add{
    display: flex;
    position: absolute;
    padding: 10px;
    margin-top: 10px;
    top:0px;
    left: 0px;
    border: 1px solid red;
    flex-grow: 1;
    width: 100%;
    height: 100%;
    z-index: 5;
}
.switch_box_content_1_content_add_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    height: 200px;
    width: 200px;
    border: 1px solid red;
    background-color: rgba(199, 197, 197,1);
    border-radius: 15px;
    color:rgb(121, 121, 121)
}
.switch_box_content_1_content_add_box_ico{
    width: 30%;
    height: 30%;
    overflow: hidden;
}
.switch_box_content_1_content_add_box_ico svg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    fill: rgb(122, 122, 122);
}
.switch_box_content_1_content_addpage{
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100vw;
    top:0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
    border:1px solid red;
    z-index: 10;
    justify-content: center;
}
.switch_box_content_1_content_addpage_box{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    width: 500px;
    height: auto;
    min-height: 300px;
    border:1px solid red;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 5px;
}
.switch_box_content_1_content_addpage_box_title{
    display: flex;
    font-size: 24px;
    justify-content: center;
    align-self: center;
    align-items: center;
    font-weight: bold;
    margin-top: 5px;
    position: relative;
    width: 100%;
}
.switch_box_content_1_content_addpage_box_title_ico{
    width: 25px;
    height: 25px;
    overflow: hidden;
    position: absolute;
    right: 5px;
}
.switch_box_content_1_content_addpage_box_title_ico:hover{
    cursor: pointer;
    transition: 0.3s;
    border-radius: 50%;
    background-color: rgba(199, 197, 197,1);
}
.switch_box_content_1_content_addpage_box_title_ico_svg{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.switch_box_content_1_content_addpage_box_title_ico_svg svg{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.switch_box_content_1_content_addpage_box_switch{
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    border:1px solid red;
    margin-top:5px;
    padding:5px;
}
.switch_box_content_1_content_addpage_box_switch_box{
    display: flex;
    position: relative;
    width: 85%;
    border:1px solid red;
}
.switch_box_content_1_content_addpage_box_switch_box_1,.switch_box_content_1_content_addpage_box_switch_box_2, .switch_box_content_1_content_addpage_box_switch_box_3, .switch_box_content_1_content_addpage_box_switch_box_4 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18%;
    height: 100%;
    margin-right: 10px;
    padding:10px;
    border:1px solid red;
    font-weight: bold;
    z-index:10;
}
.switch_box_content_1_content_addpage_box_switch_box_1:hover{
    cursor: pointer;
}
/*
.switch_box_content_1_content_addpage_box_switch_box_act{
    background-color: rgba(200,200,200,0.5);
    border-radius: 15px;
    position: absolute;
    left: 109.5px;
    width:90px;
    height: 40px;
}*/
.switch_box_content_1_content_addpage_box_content{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    width: 100%;
    height: 100%;
    min-height: 300px;
    border:1px solid red;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top:10px;
    padding:5px;
}
.switch_box_content_1_content_addpage_box_content_ill,.switch_box_content_1_content_addpage_box_content_novel,.switch_box_content_1_content_addpage_box_content_invited_draft,.switch_box_content_1_content_addpage_box_content_function_testing{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:0px;
    left: 0px;
    border:1px solid red;
    width: 100%;
    height: 100%;
}
.switch_box_content_1_content_addpage_box_content_ico{
    width: 50px;
    height: 50px;
    overflow: hidden;
}
.switch_box_content_1_content_addpage_box_content_ico svg{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.switch_box_content_1_content_addpage_box_content_text_bottom{
    display: flex;
    width: 100%;
    height: 35px;
    margin-top: 5px;
    padding: 5px;
    border:1px solid red;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(199, 197, 197,0.5);
}
.switch_box_content_1_content_addpage_box_content_btn_box{
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: flex-end;
    border:1px solid red;
    justify-items: center;
    margin-top:5px;
    padding:5px;
}
.switch_box_content_1_content_addpage_box_content_btn_box_done{
    display: flex;
    width: 50px;
    height: 20px;
    border-radius: 10px;
    background-color: rgba(0, 150, 250,1);
    margin-right: 10px;
    justify-content: center;
    align-items: center;
    padding:5px;
}
.switch_box_content_1_content_addpage_box_content_btn_box_cancel{
    display: flex;
    width: 50px;
    height: 20px;
    border-radius: 10px;
    background-color:rgba(199, 197, 197,0.5);
    margin-right: 10px;
    justify-content: center;
    align-items: center;
    padding:5px;
}
.switch_box_content_1_content_addpage_box_content_btn_box_done:hover,.switch_box_content_1_content_addpage_box_content_btn_box_cancel:hover{cursor: pointer;}
.switch_box_content_2{
    display: flex;
    flex-direction: column;
    border:1px solid red;
    width: 100%;
    height: auto;
    min-height: 600px;
    padding: 5px;
    position: relative;
}
.switch_box_content_2_title{
    width: 98%;
    height: auto;
    margin-top:10px;
    padding:5px;
    border:1px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: center;
}
.switch_box_content_2_title_switchpage,.switch_box_content_2_title_switchopen{
    display: flex;
    justify-content: center;
    width: auto;
    padding: 5px;
    border:1px solid red;
}
.switch_box_content_2_title_switchpage_tag1,.switch_box_content_2_title_switchpage_tag2{
    display: flex;
    margin-right: 10px;
    border-radius: 20px;
    padding:5px;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
    justify-content: center;
}
.switch_box_content_2_title_switchpage_tag1:hover,.switch_box_content_2_title_switchpage_tag2:hover{
    cursor: pointer;
}
.switch_box_content_2_title_switchopen_tag1,.switch_box_content_2_title_switchopen_tag2{
    display: flex;
    margin-right: 10px;
    border-radius: 20px;
    
    padding:5px;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
    justify-content: center;
}
.switch_box_content_2_title_switchopen_tag1:hover,.switch_box_content_2_title_switchopen_tag2:hover{
    cursor: pointer;
}
.switch_box_content_2_content_1_page{
    display: flex;
    flex-direction: column;
    width: 98%;
    height: auto;
    flex-grow: 1;
    align-items: center;
    align-self: center;
    border:1px solid red;
    margin-top:5px;
    padding:5px;
}
.switch_box_content_2_content_1_page_title{
    display: flex;
    width: 98%;
    height: auto;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    border:1px solid red;
    margin-top:5px;
    padding:5px;
}
.switch_box_content_2_content_1_page_title_text{
    display: flex;
    font-weight: bold;
    font-size: 18px;
}
.switch_box_content_2_content_1_page_title_collection{
    display: flex;
    padding: 5px;
}
.switch_box_content_2_content_1_page_title_collection_icon{
    display: flex;
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-right: 5px;
}
.switch_box_content_2_content_1_page_title_collection_icon:hover{
    cursor: pointer;
}
.switch_box_content_2_content_1_page_title_collection_icon svg{
    width: 100%;
    height: 100%;
    object-fit: cover;
}