/*用户内容主界面*/
.user_artwork_page{
    width: 90%;
    height: atuo;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border: 1px solid red;
}
.artwork_image_main{
    border:1px solid red;
    display: flex;
    width:90%;
    height: auto;
    justify-content: space-around;
    align-self: center;
    position: relative;
    margin-top:10px;
}
.user_art_work{
    display: flex;
    width:auto;
    height: auto;
    flex-direction: column;
    border:1px solid red;
    max-width: 60vw;
    align-self: center;
}
.user_art_work_hidden{
    display: flex;
    width:auto;
    height: auto;
    flex-direction: column;
    border:1px solid red;
    max-width: 60vw;
    
}
.user_art_work img{
    align-self: center;
    width: 100%;
    height: auto;
    object-fit:  cover;
}
.art_user{
    width:20%;
    height: auto;
    display: flex;
    flex-direction: column;
    border:1px solid red;
}
.artwork_user_avater
{
    display: flex;
    width:auto;
    height: auto;
    margin-top:10px;
}
.artwork_user_avater img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.other_work_image{
    display: flex;
    width: 100%;
    justify-content: space-between;
    overflow-x: none;
    overflow: hidden;
    scroll-behavior: smooth;
}
.other_img{
    width:32%;
    height: auto;
    border:1px solid red;
    margin-right: 2px;
    min-width: 32%;
}
.other_img img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.following_btn{
    width: 95%;
    height: auto;
    display: flex;
    border-radius: 30px;
    margin-top:5px;
    justify-content: center;
    align-self: center;
    border:1px solid red;
}
.artwork_leftbtn,.artwork_rightbtn{
    width: 32%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    border:1px solid red;
    position: absolute;
}
.artwork_leftbtn:hover,.artwork_rightbtn:hover{
    background-color: rgba(82, 80, 80, 0.5);
}
.artwork_leftbtn img,.artwork_rightbtn img{
    width: 100%;
    height: auto;
    object-fit: cover;
    display: none;
}
.artwork_leftbtn:hover img,.artwork_rightbtn:hover img{
    display: block;
}
.artwork_leftbtn{
    left:1px;
    top:0px;
}
.artwork_rightbtn{
    right:1px;
    top:0px;
}
.other_artwork{
    display: flex;
    position: relative;
    font-size: 12px;
    margin-top:10px;
}
.artwork_look_more{
    position: relative;
    width: auto;
    display: flex;
    align-self: center;
    border:1px solid red;
}
.re_artwork{
    display: flex;
    border:1px solid red;
    flex-direction: column;
    width:90%;
    height: auto;
    justify-content: space-around;
    align-self: center;
    margin-top:35px;
    margin-bottom: 20px;
}
.comment_section{
    display: flex;
    flex-direction: column;
    width: auto;
    align-self: center;
}
.artwork_introduction{
    display: flex;
    flex-direction: column;
    width: auto;
    margin-top:25px;
}
.artwork_data{
    display: flex;
}
.more_artwork{
    display: flex;
    flex-direction: column;
}
.more_artwork_useravatar
{
    display: flex;
    position: relative;
    width:100%;
}
.artwork_useravatar{
    width:100%;
    height: auto;
    overflow: hidden;
}
.artwork_useravatar img{
    width:50px;
    height: 50px;
    border-radius: 50%;
}
.artwork_username{
    border:1px solid red;
    flex-grow: 1;
    min-width: 60px;
    width:auto;
    align-self: center;
    text-align: center;
    margin-left:10px;
}
.artwork_following{
    border:1px solid red;
    flex-grow: 1;
    min-width: 60px;
    width:auto;
    align-self: center;
    text-align: center;
    margin-left:10px;
}
.more_artwork_username{
    display: flex;
    justify-content: space-between;
}
.artwork_introduction_conntent{
    margin-right: 0px;
}
.artwork_thumbnail{
    display: flex;
    position: relative;
    border:1px solid red;
}
.artwork_thumbnail_leftbtn,.artwork_thumbnail_rightbtn{
    border:1px solid red;
    align-self: center;
    width:50px;
    height: 100%;
    display: flex;
    z-index: 11;
}
.artwork_thumbnail_leftbtn:hover
{
background:linear-gradient(to right,rgba(80,80,80,0.5),rgba(80,80,80,0));
}
.artwork_thumbnail_rightbtn:hover
{
background:linear-gradient(to left,rgba(80,80,80,0.5),rgba(80,80,80,0));
}

.artwork_thumbnail_leftbtn img,.artwork_thumbnail_rightbtn img{
    width: 50px;
    height: auto;
    object-fit: cover;
    align-self:center;
    opacity: 0;
}
.artwork_thumbnail_leftbtn:hover img,.artwork_thumbnail_rightbtn:hover img{
    width: 50px;
    height: auto;
    object-fit: cover;
    align-self:center;
    opacity: 1;
}
.artwork_thumbnail_leftbtn{
    position: absolute;
    left:0px;
}
.artwork_thumbnail_rightbtn{
    position: absolute;
    right:0px; 
}
.artwork_thumbnail_img{
    display:flex;
    max-height: 25vh;
    height: 100%;
    min-height: 15vh;
    overflow:hidden;
    overflow-x: auto;
}
.artwork_thumbnail_img img{
    width: 150px;
    height: auto;
    object-fit: cover;
}
.artwork_thumbnail_img_1,
.artwork_thumbnail_img_2,
.artwork_thumbnail_img_3,
.artwork_thumbnail_img_4,
.artwork_thumbnail_img_5,.artwork_thumbnail_img_6,.artwork_thumbnail_img_7,.artwork_thumbnail_img_8,.artwork_thumbnail_img_9,.artwork_thumbnail_img_10{
    position: relative;
    margin-right: 5px;
    border-radius: 15px;
}
.comment_section{
    width:80%;
    height: auto;
    border:1px solid red;
    margin-top:50px;
    display: flex;
    flex-direction: column;
    position: relative;
}
.comment_section_title{
    position:absolute;
    left:0px;
    top:0px;
    height: 20px;
    border:1px solid red;
}
.comment_section_input{
    display: flex;
    margin-top:30px;
    width:100%;
    height: auto;
    min-height: 50px;
    align-self: center;
    margin-bottom:10px;
    position: relative;
    border:1px solid red;
}
.send_user_avatar{
    width:50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    position:absolute;
    left: 0px;
}
.send_user_avatar img{
    width:50px;
    height: 50px;
    object-fit: cover;
}
.comment_section_input_box{
    align-self: center;
    margin-left:60px;
    border:1px solid red;
    flex-grow: 1;
    margin-right: 60px;
    max-width: 75%;
}
.comment_section_input_box textarea{ 
    width:100%;
    min-width: 50%;
    height: auto;
    min-height: 40px;
    outline: none;
    border-radius: 15px;
    background: none;
    font-size: 16px;
    color:#000;
    overflow-wrap: break-word;
    overflow: hidden;
    resize: none;
    word-wrap: break-word;
}
.comment_section_input_box textarea::placeholder{
    content: attr(placeholder);
    color: #999; /* 提示文字颜色 */
    font-size: 16px; /* 提示文字大小 */
    text-align: left; /* 靠左对齐 */
    line-height: 40px; /* 设置行高等于输入框高度，实现上下居中 */
    display: flex; /* 使用 flexbox */
    align-items: center; /* 垂直居中 */
}
.comment_section_input_sendbtn{
    align-self: center;
    margin-left: 10px;
    right: 0px;
    position: absolute;
}
.comment_section_input_sendbtn{
    background-color: rgba(0,150,250,1);
    width:75px;
    height: 35px;
    border-radius: 15px;
    align-self: center;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.following_btn{
    background-color: rgba(0,150,250,1);
}
.comment_section_details{
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}
.comment_section_details_user{
    display: flex;
    width:100%;
    height: auto;
    border:1px solid red;
}
.comment_section_details_user_avatar{
    width:50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
    border:1px solid red;
}
.comment_section_details_user_name{
    display: flex;
    margin-top:15px;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border:1px solid red;
    position: relative;
    flex-grow: 1;
}
.comment_section_details_details{
    margin-top:20px;
    border:1px solid red;
    align-self:self-start;
}
.comment_section_details_details_time{
    display: flex;
    align-self: self-start;
    border:1px solid red;
}
.show_reply{
    align-self:self-start;
    background-color: rgba(80,80,80,0.5);
    margin-top:5px;
    width:20%;
    text-align: center;
    border-radius: 10px;
}
.reply_message
{
    display: flex;
    width:100%;
    height: auto;
    border:1px solid red;
    align-self: self-start;
    margin-top:10px;
}
.reply_user_avatar{
    width:50px;
    height:50px;
    overflow: hidden;
    border-radius: 50%;
}
.reply_user_avatar img{
    width:50px;
    height: 50px;
    object-fit: cover;
}
.reply_user_username_details{
    align-self: center;
    margin-top:15px;
    border:1px solid red;
}
.reply_message_details{
    margin-top:20px;
    border:1px solid red;
}
.reply_message_details_time{
    display: flex;
    border:1px solid red;
}
.collapse_reply{
    background-color: rgba(80,80,80,0.5);
    margin-top:5px;
    border-radius: 15px;
    width:20%;
    align-self: center;
    text-align: center;
}
.related_works{
    display: flex;
    width:100%;
    height: auto;
    justify-content: space-between;
    border:1px solid red;
    margin-bottom: 5px;
}
.related_artwork{
    display: flex;
    position: relative;
    width:18%;
    height: auto;
    max-height: 20vh;
    border:1px solid red;
    border-radius: 15px;
    overflow: hidden;
}
.related_artwork img{
    width:100%;
    height: auto;
    object-fit: cover;
}
.age_segmentation{
    position: absolute;
   left:10px;
   top: 2px;
   z-index:11;
   border-radius: 7px;
   background-color:rgba(255,0,0);
}
.related_artwork_quantity{
    position: absolute;
    right:5px;
    top: 2px;
    z-index:11;
    border-radius: 5px;
    background-color: rgba(80,80,80,0.5);
    width:35px;
    height: 35px;
   
    font-size: 16px;
    display: flex;
}
.related_artwork_quantity img{
    width: 100%;
    object-fit: cover;
}
.related_artwork_collection{
    position: absolute;
    right: 10px;
    bottom: 0px;
    z-index: 11;
    width:25px;
    height: auto;
}
